* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    font-family: "orbitron", sans-serif;
    font-optical-sizing: auto;
    color: #a1a1a1;
}

.ChartToggleButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    height: calc(100vh - 91px);
}

.StandingsButtons {
    padding: 20px;
    font-family: "orbitron", sans-serif;
    font-optical-sizing: auto;
    color: hsl(0, 0%, 83%);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 2px 8px hsl(189, 80%, 71%);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-weight: bold;
    transition: font-size 0.3s ease, transform 0.3s ease, color 0.3s ease,
        text-shadow 0.3s ease;
}

.StandingsButtons:hover {
    font-size: 20.5px;
    transform: scale(1.1);
    cursor: pointer;
}

.BackButtonContainer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.BackButton {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "orbitron", sans-serif;
    font-optical-sizing: auto;
    color: hsl(0, 0%, 83%);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 2px 8px hsl(189, 80%, 71%);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-weight: bold;
    transition: font-size 0.3s ease, transform 0.3s ease, color 0.3s ease,
        text-shadow 0.3s ease;
}

.BackButton:hover {
    font-size: 20.5px;
    transform: scale(1.1);
    cursor: pointer;
}

.ChartsParent {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

canvas {
    height: calc(75vh);
    cursor: crosshair;
}
